<script type="text/javascript">
    $(document).ready(function(){
        $("#conversion_submit").click(function() {
            $("#message").html('');
            return true;
        });
    });
</script>



<div id="container">
  <h1>docx to doc converter</h1>
  <% form_for :conversion, @conversion, :url => conversions_path, :html => {:multipart => true, :id => 'convert_form', :class=>'wufoo'} do |f| %>
    <% if flash[:message] %>
      <div class="info">
        <div><%= flash[:message] %></div>
      </div>
    <% end %>
    <ul>
      <li>
        <label class="desc">Docx file:</label>
        <div>
          <%= custom_file_field('conversion[uploaded_data]') %>
          <label>Please, specify DOCX file to convert</label>
        </div>
      </li>
      <center>
        <li class="buttons">
          <%= f.submit 'Convert to doc', :class => 'btTxt' %>        
        </li>
      </center>
    </ul>
  <% end %>
    
</div>



<br>



