<table width="100%" class="grid">
  <tr>
    <th>Answer</th>
    <th>IP Address</th>
  </tr>
  
  <% @polls.each do |poll| %>
    <tr class="<%= cycle('odd', 'even')  %>" >
      <td align=right><%= poll.answer %></td>
      <td><%= poll.ip_address %></td>
    </tr>
  <% end %>
</table>