body {
    font-family:arial,verdana,sans-serif;
    font-size:12px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    text-align:center;
}

div {
    margin-top: 200px;
}